<div class="section_container_opt1" style="margin-top:30px; padding-top:10px;">
	<div id="homepage_banner_navigation">
		<ul>
			<!-- Wire up the homepage thumbnails here-->
		</ul>

		<div class="arrow-button left" style="left: -5px;top: 70px; position:absolute; background:#222; ">
			<div class="arrow-left"></div>
		</div>
		<div class="arrow-button right" style="right: -5px; top: 70px; position:absolute; background:#222;">
			<div class="arrow-right"></div>
		</div>
	</div>
</div>

<div class="section_container_opt2 fabric_background">
	<div id="content">
		<div id="homepage_banners_info">
			<!-- project info goes here -->
		</div>
		<div id="homepage_banners">
			<div id="homepage_banner_container">
				<!-- project main image goes here -->
			</div>
		</div>
	</div>
</div>

<div class="section_container_opt3">
	<%= image_tag "gfx_what_is_eyecue.png", :style => "margin:30px 0;" %>
</div>

<div id="thumbnail_container">
</div>

<% content_for :extra_scripts do %>
	<script type="text/javascript">
		$(document).ready(function(){
			ecl.UI.thumbnails.init("/showcase/home_thumbnails.json", "#thumbnail_container");
		})
	</script>
<% end %>