<div id="homepage_banners_info">
	<p class="logo"><%= image_tag "gfx_logo_shazam.png" %></p>
	<h1 class="header1 blue_background">What's the story?</h1>
	<p class="description1">
		Gotta love Shazam.  The OG of all music recognition apps on any mobile device. 
	</p>
	<h1 class="header1 yellow_background black">What's the deal?</h1>
	<p class="description1" >
		Shazam needed a hand migrating from their already popular iPhone application to iPad.  We couldn't have been more happy to lend them a hand.
	</p>
	<ul class="inline-list icon-list">
		<li><%= image_tag "gfx_icon_design.png" %></li>
		<li><%= image_tag "gfx_icon_ui_ux.png" %></li>
		<li><%= image_tag "gfx_icon_mobile.png" %></li>
	</ul>
</div>

<div id="homepage_banners">
	<div id="homepage_banner_container"></div>
	<div id="homepage_banner_padding"></div>

</div>