<br />
<div class="section_container_opt2 fabric_background">
	<div id="content">
		<div id="homepage_banners_info">
			<!-- project info goes here -->
		</div>
		<div id="homepage_banners">
			<div id="homepage_banner_container">
				<!-- project main image goes here -->
			</div>
		</div>
	</div>
</div>

<div class="section_container_opt3">
	<%= image_tag "gfx_what_is_eyecue.png", :style => "margin:30px 0;" %>
</div>