<div id="thumbnail_container">
</div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<% content_for :extra_scripts do %>
  <script type="text/javascript">
		$(document).ready(function(){
			ecl.UI.thumbnails.init("/data/home_thumbnails.json", "#thumbnail_container");
		})
	</script>
<% end %>